$theme-color: #005E97
$highlight: rgba(50,50,50,0.3)

=box($size)
	height: $size
	width: $size

body
	margin: 0
	font-family: 'Helvetica Neue', sans-serif

header, footer, main
	position: fixed
	left: 0
	width: 100%

header, footer
	height: 10vh
	color: white
	background: $theme-color

header
	top: 0
	div
		display: inline-block
		h1
			display: inherit
			margin: 0
			margin-right: 7px
		label
			+box(30px)

main
	height: 80vh
	top: 10vh
	overflow: scroll
	background: rgba(0, 128, 204, 0.1)

footer
	bottom: 0
	nav
		margin: auto
		width: 98%
		height: inherit
		.nav-button
			color: inherit
			width: 18%
			height: 100%
			border: none
			margin: 0 7px
			padding: 2px 0
				top: 4px
			background: $theme-color
			h6
				margin:
					top: 2px
					bottom: 2px
		.active-nav
			background: $highlight
			border-radius: 5px

.container
	display: flex
	justify-content: center
	align-items: center

#filter-options
	display: none
	position: absolute
	top: 8.5vh
	z-index: 1000
	width: 90vw
	min-height: 30vh
	max-height: 75vh
	overflow: scroll
	margin: auto
	background: white
	border: 2px solid lightgrey
	border-radius: 5px

.internship
	width: 95%
	height: 95px
	padding: 10px 3px
	background: rgba(255, 250, 250, 0.8)
	border-radius: 2px
	margin: 10px auto
	color: #383838
	.left-content, .right-content
		display: inline-block
		h2, h3
			margin: 0
			margin-left: 5px
		h2
			font-size: 0.8rem
			margin-bottom: 2px
		h3
			font-size: 0.65rem
			margin-bottom: 2px
	.left-content
		width: 25%
		img
			width: 90%
		text-align: center
	.right-content
		width: 75%
		float: right

